.Nav {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    margin: 1em;
}

.Base {
    text-decoration: none;
}

.Base:hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.Selected {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}